@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@fortawesome/fontawesome-free/css/all.css';

.container {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
}

.footer {
    background-color: #f5f5f5;
}